<!DOCTYPE html>
<html>

<head>
	<title>Spotify together</title>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<div class="login">
		<h1>Spotify together</h1>
		<a href="/auth/spotify">Connect with Spotify</a>
	</div>
</body>

</html>