* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: #00B7FF;
}

ul {
    padding: 0;
}

ul li {
    list-style-type: none;
    margin-bottom: 0.5em;
}

header {
    display: flex;
    padding: 0 1.5em;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3em;
    align-items: center;
}

header .profile-details {
    margin-left: auto;
	margin-right: 1em;
	color: #fff;
	display: flex;
    align-items: center;
}

.profile-details img {
	border-radius: 50%;
	margin-right: 0.6em;
}

.player-details__track-name {
	font-size: 1.08em;
}

.player-details__artist-name {
	margin-top: 0.3em;
	opacity: 0.8;
	font-size: 0.96em;
}

main {
    display: flex;
    justify-content: center;
}

main>section {
    width: 50vw;
    height: calc(100vh - 6em);
    padding: 2em;
    background-color: #232326;
    color: #fff;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    height: 6em;
    width: 100%;
    background-color: #000000;
    color: #fff;
}

.player-details {
    height: 100%;
    display: flex;
}

.player-details__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1em;
}

.player-details p {
    margin: 0;
}

.player-details img {
    align-self: center;
    height: 100%;
}

.player-controls {
	position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 7em;
    align-items: center;
    justify-content: space-around;
}

button {
    /*Reset's every elements apperance*/
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-spacing: 0;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.42rem;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    cursor: pointer;
}

.hidden {
	display: none;
}
